<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,700italic' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Podkova:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
		<link rel="stylesheet" href="{{ asset('build/skins/lightgray/skin.min.css') }}" >
		<link rel="stylesheet" href="{{ asset('build/skins/lightgray/content.min.css') }}" >
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
			<script src="{{ asset('build/js/main.js') }}"></script>
		{% endblock %}
    </body>
</html>
