{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
	<header class="background-white">
		<div class="container">
			<a href="https://www.siliconcomte.fr/">< Retour sur le site Silicon Compté</a>
		</div>
	</header>
	
	<section class="background-yellow">
		<div class="container">
			<h3>Formulaire d'inscription à la TV SiliconComté diffusé pendant l'évenement du 15/03</h3>
		</div>
	</section>
	
	<section class="background-white">
		<div class="container">
			<div class="col-md-6">
				{{ form(form) }}
			</div>
		</div>
	</section>
	
	<footer class="background-blue footer">
		<div class="container">
			<ul class="list-unstyled list-inline">
				<li><a href="https://www.siliconcomte.fr/mentions-legales/" class="sc-caps sc-link-darker">mentions légales</a></li>
				<li><a href="https://www.siliconcomte.fr/contact/" class="sc-caps sc-link-darker">contacts</a></li>
				<li><a href="https://www.siliconcomte.fr/credits/" class="sc-caps sc-link-darker">crédits</a></li>
			</ul>
		</div>
	</footer>
{% endblock %}