$icomoon-font-path: "fonts" !default;

$icon-envelope-o: \e900;
$icon-envelope: \e901;
$icon-link: \e9cb;
$icon-facebook2: \ea91;
$icon-instagram: \ea92;
$icon-twitter: \ea96;
$icon-linkedin: \eac9;

